.App {
  text-align: left;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.subHeader {
  opacity: 0.8;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
.MuiTypography-root{
	font-family: Bookman;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
    overflow: hidden;
    outline: none;
}
a{
	font-family: serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  background:linear-gradient( -45deg, #F7F3F3, #FFFFFF);
  background-size: 400% 400%;
  min-height: 80vmin;
  animation: gradient 50s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer{
  background:linear-gradient( -45deg, #F7F3F3, #dae1eb);
  background-size: 400% 400%;
  max-height: 90vmin;
  animation: gradient 50s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444242;
}

.Centering {
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-style:oblique;
  font-size: calc(40px + 2vmin);
  color:white;
}

a:link { text-decoration: none; }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
